#p-1{
    width: 100%;
    background-color: #8a2be2;
    /* border: solid black; */
    padding-top: 10px;
    padding-bottom: 70px;
    
    
}
#a-1{
    color: #f0ffff;
    /* padding: 65px; */
    padding: 90px;
    font-size: 30px;
    text-decoration: none;
    
}
#str{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}
/* #str-1{
    color:#7fff00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
.poem1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    font-size: 70px;
    letter-spacing: 10px;

}
/* #poem-1:first-letter {
    color: greenyellow ;
    font-size: 120px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */
/* #str-2{
    color: aqua;
    font-family:

} */
#para{
    color:brown;
    font-size: 30px;
}
.rating {
    font-size: 24px;
    /* color: #f8ce0b; Yellow color for the filled star */
    /* color: ; */
  }

  .half {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  #para-1 {
    font-family: 'Poppins';
    font-weight: bold;
    color: teal;
    font-size: 30px;
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url(../fonts/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(../fonts/Satisfy-Regular.ttf)
}

@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf)
}

@font-face {
    font-family: 'KGAlwaysAGoodTime';
    src: url(../fonts/KGAlwaysAGoodTime.ttf)
}

@font-face {
    font-family: 'PinkChicken';
    src: url(../fonts/PinkChicken-Regular.ttf)
}

.para:first-line {
    color: brown;
}

.poem2 {
    color: chocolate;
}

#poem-1:first-letter {
    color: yellow;
    font-size: 120px;
    font-family: 'Pacifico';

}



 